/* El "*" representa el selector universal */
*{
    /* Con estas instrucciones le estamos quitando el padding y el margin que le da por defecto el navegador a los diferentes elementos/etiquetas. Lo cual en este ejemplo nos esta ayudando a poder que el contenedor "main" quede en toda la esquina de la pagina y no con un margin de 8px que tenia por defecto el contenedor padre de "main" el cual vendria siendo "body" */
    padding: 0;
    margin: 0;
    /* Con esta regla eliminamos por el completo el scroll que se generaba por las medidas que tiene el contenedor main */
    box-sizing: border-box;

}



main{
    background-color: rgb(214, 159, 159);
}
body{
    background-color: rgb(206, 162, 73);
}

/* Esta es la forma de hacer comentarios en css */

/* Para poder aplicarle estilos a una clase de un documento html lo hacemos de la siguiente manera: */

.titulo{
    font-size: 40px;
}

/* Para poder aplicarle estilos a un ID de un documetno html lo hacemos de la siguiente manera:  */

#usuario{
    color: rgb(49, 49, 49);
}

#password{
    color: rgb(49, 49, 49);
}

.barra-busqueda{
    list-style: none;
    margin-top: 10px;
    padding: 20px;  
    background-color: rgb(248, 181, 150);  
}


.item-barra{
    display: inline-block; /* en estos moementos nos sirve para poder poner de forma horizontal los elementos de la barra de busqueda */
    margin-right: 100px; /* corregir mas adalente con flex-box*/
    margin-left: 50px;   /* corregir mas adalente con flex-box*/
}

/* Dentro de una clase le podemos decir a css que cambie todas las mismas etiquetas que hay dentro de dicha clase, de la siguiente fomra: */
.item-barra a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    background-color: rgb(255, 123, 0);
}

/*  Otra forma de cambiarle el color del texto de la barra de busqueda
.texto-barra{
    color: rgb(0, 0, 0);
}
*/

/*La siguiente linea de codigo muestra la implementación de una pseudo clase: */

/* "Hover" es una pseudo-clase la cual permite agregar estilos cuando se interactua con un elemento, especificamente al pasar el mouse sobre este*/ 

.item-barra a:hover{
    color: black
}

/* La siguiente linea de codigo muestra la implementación de un pseudo elemento*/
/* "after" es un pseudo elemento el cual permite agregar contenido despues de que se termina el elemento al que se le aplica */

.item-barra a::after{
    content: " | ";
}

/* Manipulación del modelo de caja*/

main{
    width: 100%;
    height: 500px;
    border: 1px solid gold;
    /*padding: 20px Aca estamos haciendo que el padding tenga un tamaño de 20px arriba,abajo,izquierda y derecha*/
    padding: 20px 35px; /* Y aca estamos diciendo que tenga un tamaño de 20px arriba y abajo y de 35px de derecha a izquierda */
}